<div class="container">
  <h2> Navagation</h2>

<section id="content">
  <div id="card-widgets">
    <div class="row">
      <div class="col s12 m4 l4">
        <h4 class="header">Profile Info</h4>
        <div id="profile-card" class="card">
          <div class="card-image">
            <img <%= image_tag current_user.avatar.url(:large) %>
            <span class="card-title grey-text darken-4"><%= current_user.first_name %></span>
          </div>
            <p>
              <i class="material-icons">perm_identity</i>
              <%= current_user.role %>
            </p>
            <p>
              <i class="material-icons">email</i>
              <%= current_user.email %>
              <a href="#" class="secondary-content"><i class="material-icons">edit</i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <div>
    <div class="chip">
    <img <%= image_tag current_user.avatar %>>
    <%= current_user.first_name %>
  </div>
    <ul>
      <li><%#= image_tag current_user.avatar %></li>
      <li><%= current_user.about_me %></li>
    </ul>
  </div>
  <div>
    <% @listing.each do |list| %>
    <%= link_to 'My Listings', list, class: 'btn-submit' %>
    <%#= current_user.listing %>
    <% end %>
  </div>
</div>
