
<!-- Don't delete this stuff -->
<!-- <div class="grid">
  <div class="grid-sizer"></div>
    <div class="grid-item grid-item--height3">
      <img class="home" src="http://i.imgur.com/SNS4ecd.png?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img class="home"src="http://i.imgur.com/MUc70Hs.png?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/OvPOWqu.jpg?2" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img class="home"src="http://i.imgur.com/m6dNlG4.jpg?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/RJfC5e8.jpg?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/ukZNB6M.png?2" width="100%" height="100%">
    </div>
</div> -->

<img src="http://i.imgur.com/uTOPUaQ.jpg?1" class="banner"/>

<div class="container">
  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="col s6">
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
    </div>
    <div class="col s6">
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
    </div>
    <div class="col s6">
      <p>
        <a class="waves-effect waves-light btn"> <%= f.submit "Log in", class: "btn-submit" %> </a>
        <%= link_to "Sign Up", 'signup', class: "btn-submit waves-effect waves-light btn" %>
      </p>
    </div>
    <% end %>
  </div>
</div>
