<h1 class="one-world"> ONE World </h1>

<div class="grid">
  <div class="grid-sizer"></div>
    <div class="grid-item grid-item--height3">
      <img class="home" src="http://i.imgur.com/SNS4ecd.png?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img class="home"src="http://i.imgur.com/MUc70Hs.png?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/OvPOWqu.jpg?2" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--width2 grid-item--height3">
      <img class="home"src="http://i.imgur.com/m6dNlG4.jpg?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/RJfC5e8.jpg?1" width="100%" height="100%">
    </div>
    <div class="grid-item grid-item--height3">
      <img class="home"src="http://i.imgur.com/ukZNB6M.png?2" width="100%" height="100%">
    </div>
</div>

<div class="container">
  <%= form_for(:session, url: login_path) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Log in", class: "btn-submit" %> |
    <%= link_to "Sign Up", 'signup', class: "btn-submit" %>
  </p>
  <% end %>
</div>
