<%= form_for(setup_listing @listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :accommodates %><br>
    <%= f.number_field :accommodates %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.check_box :availability %>
  </div>
  <!-- fields for address -->
  <%= f.fields_for :address do |ff| %>

  <div class="field">
    <%= ff.label :street_address %><br>
    <%= ff.text_field :street_address %>
  </div>
  <div class="field">
    <%= ff.label :city %><br>
    <%= ff.text_field :city %>
  </div>
  <div class="field">
    <%= ff.label :country %><br>
    <%= ff.text_field :country %>
  </div>
  <div class="field">
    <%= ff.label :latitude %><br>
    <%= ff.text_field :latitude %>
  </div>
  <div class="field">
    <%= ff.label :longitude %><br>
    <%= ff.text_field :longitude %>
  </div>
   <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
