<div class="container">
<h1>Available Housing</h1>
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col s12 m7 l4">
      <div class="card large">
        <div class="card-image" id="listings-card">
          <%= image_tag listing.listing_images.first.picture %>
        </div>
        <span class="card-title">
          <%= listing.headline %>
        </span>
        <div class="card-content">
          <%= listing.description.truncate(80) %>
        <br>
          <p> Accommodates: <%= listing.accommodates %> </p>
        </div>
        <div class="card-action">
          <%= link_to 'View Home', listing %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <tbody>

      <tr>

        <td><%#= listing.address.street_address %></td>
        <td><%#= listing.address.city %></td>
        <td><%#= listing.address.country %></td>


        <td><%#= listing.availability %></td>
        <td><%#= image_tag listing.listing_images.first.picture %></td>

        <td></td>
        <td><%#= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%#= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%# end%>

  </tbody>
</table>

<br>
</div>
<%#= link_to 'New Listing', new_listing_path %> |
<%#= link_to 'Home', current_user, class: 'btn-submit' %>
