  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 43.65, lng: -79.38},
        zoom: 13
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJfi3uDjVfeW050ULZABP2RRV6GyXlLbY&callback=initMap"
  async defer></script>

  <div id="map-container">
    <div id="map"></div>
  </div>


  <div class="available-housing test">
  <h1>Available Housing</h1>

    <div class="row">
      <% @listings.each do |listing| %>
      <div class="col s12 m7 l4">
        <div class="card large">
          <div class="card-image" id="listings-card">
            <%= image_tag listing.listing_images.first.picture %>
          </div>
          <span class="card-title">
            <%= listing.headline %>
          </span>
          <div class="card-content">
            <%= listing.description.truncate(80) %>
          <br>
            <p> Accommodates: <%= listing.accommodates %> </p>
          </div>
          <div class="card-action">
            <%= link_to 'View Home', listing %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

</div>
