<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @listing.headline %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @listing.address.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.address.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.address.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Accommodates:</strong>
  <%= @listing.accommodates %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @listing.availability %>
</p>

<%# if current_user.refugee? %>
  <%= link_to 'Send Message', new_message_path(to: @listing.user.id), class: 'btn-submit' %>
  <%# end %>

<% if current_user.host? %>
  <p class="listing-edit">
    <%= link_to "Edit Listing", edit_listing_path(@listing.id) %> |
  </p>
<% end %>
<%= link_to 'Back', listings_path %>
<%= link_to 'Home', current_user, class: 'btn-submit' %>
</div>
