<script>
$(document).ready(function(){
  $('.carousel').carousel({
    dist:0,
    shift:0,
    padding:20,
  });
});

</script>


  <div class="carousel">
      <% @listing.listing_images.each do |image|%>
        <a class="carousel-item">
          <%= image_tag(image.picture) %>
        </a>
      <% end %>
  </div>
<div class="container">
  <p>
    <%= @listing.headline %> in <%= @listing.address.city %>
  </p>

  <p>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Accommodates:</strong>
    <%= @listing.accommodates %>
  </p>

  <p>
    <strong>Hosted by:</strong>
    <%= @listing.user_id %>
  </p>


<%# if current_user.refugee? %>
<div>
  <%= link_to 'Profile', user_path(@listing.user_id) %>
</div>
<div>
  <%= link_to 'Send Message', new_message_path(to: @listing.user.id), class: 'btn-submit' %>
  <%# end %>

<% if current_user.role == 'Host' %>
  <p class="listing-edit">
    <%= link_to "Edit Listing", edit_listing_path(@listing.id) %> |
  </p>
<% end %>
<%= link_to 'Back', listings_path %>
<%= link_to 'Home', current_user, class: 'btn-submit' %>
</div>

</div>
