<%#= content_tag_for(:li, conversation) do |conversation| %>
<div class="row">
  <%#= link_to conversation.subject, conversation_path(conversation) %>
<div class="col s5 push-s7 right-align">
<% if conversation.is_trashed?(current_user) %>
   <%= link_to 'Restore', restore_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
   <% end %>
  <% if conversation.is_read?(current_user) %>
   <%= link_to 'Move to trash', conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :delete, data: {confirm: 'Are you sure?'} %>
   <% end %>

   <% if conversation.is_unread?(current_user) %>
     <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
<% end %>
</div>
<div class="col s7 pull-s5">
    <%= link_to conversation.subject, conversation_path(conversation) %>
    <%= render 'conversations/participants', conversation: conversation %>

  <div><%= conversation.last_message.body %></div>
  <div class="grey-text"><%= conversation.last_message.created_at.strftime("%B %-d %Y, %l:%M%p") %></div>
</div>
  </div>
