<br></br>
  <div class="card-panel grey lighten-2">
    <div class="row">
    <div class="col s3 push-s9">
      <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
      <% end %>
        <% if conversation.is_read?(current_user) %>
        <%= link_to 'Move to trash', conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>

          <% if conversation.is_unread?(current_user) %>
          <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
          <% end %>
    </div>
    <div class="col s9 pull-s3">
      <%= link_to conversation.subject, conversation_path(conversation) %>
      <%= render 'conversations/participants', conversation: conversation %>

      <div class="convo-body"><%= conversation.last_message.body %></div>
      <div class="convo-time-info grey-text"><%= conversation.last_message.created_at.strftime("%B %-d %Y, %l:%M%p") %></div>
    </div>
  </div>
</div>
