<%#= content_tag_for(:li, conversation) do |conversation| %>
<li class="list-group">
  <%#= link_to conversation.subject, conversation_path(conversation) %>
<div class="btn-group right-align">
<% if conversation.is_trashed?(current_user) %>
   <%= link_to 'Restore', restore_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
   <% end %>
  <% if conversation.is_read?(current_user) %>
   <%= link_to 'Move to trash', conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :delete, data: {confirm: 'Are you sure?'} %>
   <% end %>

   <% if conversation.is_unread?(current_user) %>
     <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: "btn-submit waves-effect waves-light btn", method: :post %>
<% end %>
</div>
  <ul>
    <%= link_to conversation.subject, conversation_path(conversation) %>
    <%= render 'conversations/participants', conversation: conversation %>
  </ul>

  <p><%= conversation.last_message.body %>
  <span><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span></p>
</li>
