<div class="container">
<h1>Messages</h1>

<div class="divider"></div>

<div>
  <%= link_to 'New Message', new_message_path, class: 'btn-submit' %>
  <%= link_to 'Home', '/profile', class: 'btn-submit' %>
</div>
<!-- Mailbox tabs -->
<div class="row">
  <div class="col s12">
    <ul class="tabs blue-grey lighten-2 blue-text">
      <li class="tab col s4"><a href="#inbox" id="messages-tab">Inbox<span class="badge"><%= current_user.mailbox.inbox.count %></span></a></li>
      <li class="tab col s4"><a href="#sent" id="messages-tab">Sent</a></li>
      <li class="tab col s4"><a href="#trash" id="messages-tab">Trash</a></li>
  </ul>
</div>
<!-- Mailbox tab views -->
<div id="inbox" class="col s12">
  <%= render partial: 'conversations/conversation', collection: @inbox %>
</div>
  <div id="sent" class="col s12">
    <%= render partial: 'conversations/conversation', collection: @sent %>
  </div>
    <div id="trash" class="col s12">
      <%= render partial: 'conversations/conversation', collection: @trash %>
      <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn-flat', method:   :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
</div>
