<div class="container">
<h1>New Message</h1>

<%= form_tag conversations_path, method: :post do %>
 <div class="input-field">
  <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :first_name) %>
 </div>

 <div>
   <%= text_field_tag :subject, nil, placeholder: "Subject" %>
 </div>

 <div>
   <%=text_area_tag :body, nil, placeholder: "Type message here" %>
 </div>

 <%= submit_tag %>
 <% end %>

 <%= link_to 'Home', current_user, class: 'btn-submit' %>
</div>
