<div class="container">

<br/><br/>
<div class="card-panel">
  <div class="panel-heading center-align">
  <h5>Chatting with</h5>
  <h5><%= render 'conversations/participants', conversation: @conversation %></h5>
</div>
<div class="panel panel-default">
<div class="divider"></div>
  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="media">
          <% message = receipt.message %>
          <div class="media-left">
            <img class="convo-img" <%= image_tag message.sender.avatar.url(:small) %>
            At <%= message.created_at.strftime("%l:%M%p #{message.sender.first_name}") %> wrote:
          </div>
          <div class="media-body">
            <p class="convo-body center-align"><%= message.body %></p>
            <p class="convo-start-on right-align"><%= message.created_at.strftime("%B %-d %Y") %></p>
          </div>
        </div>
      <div class="divider"></div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="card-panel">
<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>
</div>
<br/>
</div>

<!-- original mail code below -->
<!-- <%# @conversation.receipts_for(current_user).each do |receipt| %>
 <div>
   <div><%#= receipt.message.sender.first_name %> wrote:</div>
     on <%#= receipt.message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
   <p><%#= receipt.message.body %></p>
 </div>
 <%# end %>

<%#= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
    <%#= text_area_tag :body %>
  </div>

  <%#= submit_tag %>
  <%# end %>

  <%#= link_to 'Home', current_user, class: 'btn-submit' %> -->
