<div class="container">

  <p>
    <h4>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </h4>
  </p>

  <p>
    <!-- <img src="<%= @user.avatar %>"> -->
    <%= image_tag @user.avatar.url(:large) %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= @user.about_me %>
  </p>


  <%#= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to "Contact #{@user.first_name}", new_message_path(to: @user), class: "btn-submit waves-effect waves-light btn" %>
  <%= link_to 'Back', :back, class: "btn-submit waves-effect waves-light btn" %>

</div>
